@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.logo .st0 {
  fill:#171730;stroke:#171730;
}
.logo .st1{
  fill:#FFFFFF;
  stroke:#FFFFFF;
}
.logo .st2 {
  fill:#C2C2CE;
  stroke:#C2C2CE;
} 
.logo .st3{
  fill:#8D8D8D;stroke:#8D8D8D;
}
